%p
  ="Estimado #{@document_owner.owner_name}."

%p
  Se le informa que su documento
  %b=@document_owner.document.name
  expirará en 1 mes, por lo que se le pide se comunique a Coordinación de Gestión de la Calidad para la actualización del mismo.
%p
  Que pase un excelente día.
