%nav.config-breadcrumb.z-depth-0
  .nav-wrapper
    .row
      .col.s12.m12.l12
        =link_to users_path, class:'breadcrumb' do
          Usuarios
        %a.breadcrumb{user_path}
          =@user.name
        %a.breadcrumb{}
          Editar

%h1 Editar usuario

= render 'form'
