%ul.collection.documents-list
  -@documents.each do |document|
    =link_to document do
      %li.collection-item.avatar
        %i.material-icons.circle
          insert_drive_file
        %span.title=document.name
        %p.grey-text
          ="#{document.code}-#{document.revision}"
          %br/
          =document.revision_date
