%nav.config-breadcrumb.z-depth-0
  .nav-wrapper
    .row
      .col.s12.m12.l12
        =link_to documents_path, class:'breadcrumb' do
          Documentos
        %a.breadcrumb{}
          Nuevo

%h1 Nuevo documento
= render 'form'

